@media(max-width: 1024px){
    img.vegetable{ padding-left: 0px;
    }  
    #Text1{word-spacing: 10px}
    #sil{word-spacing: 10px;}
    img.vegetablel{padding-left:50px;}
/* 2-page */
    .bf{width:300px;}
    #bgv{width: 300px;}
    div#abg.container > div.row > div.col-4  > img{width: 100%;}
    
    /* 3-page */
    #nado3{width:100%;}
    .h1t{font-size: 45px;}
    /* 4-page */
    #inputur{width: 450px;}
    #interested{width: 450px;} 
    #inter{width:200px; height: 55px; border-radius: 10px;}
    #btn4{height: 55px; width: 150px;}  
      
}
@media(max-width: 768px){
    nav{visibility: hidden;}
.hamburger-menu{visibility: unset;}  
.nav{width: 100%;} 
.sizpc{width: 350px;} 
.size{font-size: 40px;}
.vegetable{width: 225px;}
.vegtext{font-size: 20px;}
.vtext{font-size: 14px;}
.arbuz{width: 30%; height: 30%;}
.anv{font-size: 10px;}
#Text1{word-spacing: 10px;font-size: 13px;}
#sil{word-spacing: 2px;}
#sil>span>img{width: 25px; height: 25px;}
img.vegetablel{padding-left:10px;}
/* 2-page */
#header2{padding-bottom: 50px;}
.bf{width:200px;height: 200px;}
    #bgv{width: 200px; margin-block-start: -5px; height:80px;}
    .about{font-size:17px;}
    .atext{font-size: 15px;}
    .toffercont__title{font-size: 36px}
    /* 3-page */
    .h1t{font-size: 35px;}
    #header3{padding-bottom: 50px;}
    .ttext{font-size: 20px; padding-top: 20px;}
    /* 4-page */ 
    #inputur{width: 250px;}
    #interested{width: 250px;} 
    #inter{width:180px; height: 55px; border-radius: 10px; }
    #btn4{height: 55px; width: 150px;}  
    .inputinf{width: 250px;}
    #kapcha{float:right; margin-block-start: -50px;}    
}
@media(max-width: 640px){
#foot{font-size: 10px;}
.footer{height:40px ;}
.silk{font-size: 9px;}
#sil>span>img{width: 16px; height: 16px;}
.vtext{font-size: 10px;}
.vegtext{font-size: 15px;}
img.vegetablel{padding-left:10px; width: 100%;}
.vegetable{width: 100%;}
.size{font-size: 30px;}
.offercont__title{font-size:20px;}
.offercont__text{font-size:15px;}
.sizpc{width: 195px;}
.anv{font-size: 8px; } 
.arbuz{width: 25%; height: 25%; margin-bottom: 10px;}
#pc{width: 25%; height: 25%;}
.heads{font-size: 30px;}
.searchinput{width: 220px;}
.searchinput input{width: 200px;}
.br0{margin-bottom:100px; width: 120px;
    height: 45px;}
#header{background-size: 200%;}
.menu__box{width: 160px;}
.menu__item{font-size: 10px; padding: 12px 12px;}
/* 2-page */
#header2{padding-bottom: 50px;}
.bf{width:150px;height: 150px;}
    #bgv{width: 150px; margin-block-start: -5px; height:80px;}
    .about{font-size:17px;}
    .atext{font-size: 13px;}
    .qtext{font-size: 13px;}
    .vegetext{font-size: 16px;}
    .toffercont__title{font-size: 26px}
    .toffercont__star{font-size: 26px}
    .toffercont__text{font-size:15px}
    .ts{font-size:15px}
    .ts2{font-size:15px; margin-block-start: -44px;}
    div.container>img{height: 50px;}
    /* 3-page */
    .h1t{font-size: 25px;}
    #header3{padding-bottom: 50px;}
    .ttext{font-size: 12px; padding-top: 20px; margin-inline-start:90px}
    #picb{width: 60px;}
    /* 4-page */
    #inputur{width: 250px;}
    #interested{width: 250px;} 
    #inter{width:110px; height: 55px; border-radius: 10px; }
    #btn4{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
    .inputinf{width: 250px;}
    #kapcha{float:right; margin-block-start: -50px;} 
    #pg4txt{font-size: 12px;}     
}
@media(max-width: 480px){
.arbuz{width: 20px; height: 20px; margin-bottom: 0px;}
.anv{font-size: 10px; }
#header{background-size: 275%;} 
.heads{font-size: 25px;}
.vegtext{font-size: 12px;} 
#Text1{word-spacing: 5px;font-size: 8px;}  
#foot{font-size: 8px;}
.footer{height:35px ;}
.silk{font-size: 8px;}
#sil>span>img{width: 16px; height: 16px;} 
#sil{padding-left: 0px;}
/* 2-page */
#header2{padding-bottom: 50px;}
.bf{width:125px;height: 125px;}
    #bgv{width: 125px; margin-block-start: 0px; height:80px;}
    .about{font-size:15px;}
    .atext{font-size: 13px;}
    .qtext{font-size: 10px;}
    .vegetext{font-size: 13px;}
    .toffercont__title{font-size: 20px}
    .toffercont__star{font-size: 20px}
    .toffercont__text{font-size:13px}
    .ts{font-size:13px}
    .ts2{font-size:13px; margin-block-start: -44px;}
    div.container>img{height: 50px;}
    /* 3-page */
    .h1t{font-size: 20px;}
    #header3{padding-bottom: 50px;}
    .ttext{font-size: 12px; padding-top: 20px; margin-inline-start:60px}
    #picb{width: 50px;}
    .offercont__star{font-size: 15px}
    .btn-rounded{border-radius: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    font-size: 10px;}
    .btn-rounded img{width: 35px;}
    /* 4-page */
    #inputur{width: 200px;}
    #interested{width: 200px;} 
    #inter{width:200px; height: 55px; border-radius: 10px; }
    #btn4{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
    .inputinf{width: 200px;}
    #kapcha{float:right; margin-block-start: -50px;} 
    #pg4txt{font-size: 12px;}     
}
@media(max-width: 400px){
.arbuz{width: 20px; height: 20px; margin-bottom: 0px;}
.anv{font-size: 7px; }
div.navveg>div.container>div.row>div.col{width: 33px;} 
div.navveg>div.container>div.row>div.col-2{width: 66px;}
div#nado.col-4{width: 132px;}
div#nado.col{width: 200px;}
#header{background-size: 300%;} 
.heads{font-size: 20px;}
.vegtext{font-size: 10px;} 
#Text1{word-spacing: 5px;font-size: 8px;}  
#foot{font-size: 7px;}
.footer{height:35px ;}
.silk{font-size: 7px;}
#sil>span>img{width: 10px; height: 12px;} 
div.col-9{width: 293px;}
div.col-3{width: 107px;}
.searchinput{width: 180px;}
.searchinput input{width: 160px;}
.vtext{font-size: 8px;}
.size{font-size: 20px}
/* 2-page */
#header2{padding-bottom: 50px;}
.bf{width:110px;height: 110px;}
    #bgv{width: 110px; margin-block-start: 0px; height:50px;}
    .about{font-size:12px;}
    .atext{font-size: 10px;}
    .qtext{font-size: 10px;}
    .vegetext{font-size: 11px;}
    .toffercont__title{font-size: 17px}
    .toffercont__star{font-size: 17px}
    .toffercont__text{font-size:10px}
    .ts{font-size:13px}
    .ts2{font-size:13px; margin-block-start: -44px;}
    div.container>img{height: 50px;}
    div.col-8{width: 265px;}
    /* 3-page */
    .buk{font-size: 10px;}
    .h1t{font-size: 15px;}
    #header3{padding-bottom: 50px;}
    .ttext{font-size: 10px; padding-top: 5px; margin-inline-start:60px}
    #picb{width: 40px;}
    .offercont__star{font-size: 10px; margin-bottom: 0px;}
    .btn-rounded{border-radius: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    font-size: 10px;}
    .btn-rounded img{width: 35px;}
    .char{font-size: 10px;}
    #pc1{width: 100%;}
    /* 4-page */     
    #inputur{width: 180px;}
    #interested{width: 180px;} 
    #inter{width:180px; height: 55px; border-radius: 10px; margin-block-start: -5px;}
    #btn4{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
    .inputinf{width: 190px;}
    #kapcha{float:right; margin-block-start: -42px; padding-right: -10px; width: 60px;} 
    #pg4txt{font-size: 10px;} 
}
@media(max-width: 320px){
    .arbuz{width: 20px; height: 20px; margin-bottom: 0px;}
    .anv{font-size: 6px; }
    div.navveg>div.container>div.row>div.col{width: 26px;} 
    div.navveg>div.container>div.row>div.col-2{width: 53px;}
    div#nado.col-4{width: 106px;}
    div#nado.col{width: 160px;}
    #header{background-size: 375%;} 
    .heads{font-size: 17px;}
    .vegtext{font-size: 8px;} 
    #Text1{word-spacing: 5px;font-size: 7px;}  
    #foot{font-size: 7px;}
    .footer{height:35px ;}
    .silk{font-size: 7px;}
    #sil>span>img{width: 8px; height: 15px;} 
    div.col-9{width: 200px;}
    div.col-3{width: 120px;}
    .searchinput{width: 140px;}
    .searchinput input{width: 120px;}
    .vtext{font-size: 8px;}
    .size{font-size: 20px}
    .sizpc{width: 160px; height: 160px;}
    /* 2-page */
    #header2{padding-bottom: 50px;}
.bf{width:90px;height: 90px;}
    #bgv{width: 90px; margin-block-start: 0px; height:50px;}
    .about{font-size:12px;}
    .atext{font-size: 10px;}
    .qtext{font-size: 8px;}
    .vegetext{font-size: 8px;}
    .toffercont__title{font-size: 17px}
    .toffercont__star{font-size: 17px}
    .toffercont__text{font-size:10px}
    .ts{font-size:13px}
    .ts2{font-size:13px; margin-block-start: -44px;}
    div.container>img{height: 50px;}
    div.col-8{width: 265px;}   
    /* 3-page */
    .buk{font-size: 8px;}
    .h1t{font-size: 12px;}
    #header3{padding-bottom: 50px;}
    .ttext{font-size: 8px; padding-top: 5px; margin-inline-start:40px}
    #picb{width: 35px;}
    .offercont__star{font-size: 10px; margin-bottom: 0px;}
    .btn-rounded{border-radius: 30px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    font-size: 10px;}
    .btn-rounded img{width: 35px;}
    .char{font-size: 10px;}
    #pc1{width: 100%; margin-block-start: 0px;}
    /* 4-page */
    #inputur{width: 140px;}
    #interested{width: 140px;} 
    #inter{width:140px; height: 55px; border-radius: 10px; margin-block-start: -10px;}
    #btn4{height: 55px; width: 130px; padding-left: 10px; padding-right: 10px;}  
    .inputinf{width: 140px;}
    #kapcha{float:right; margin-block-start: -42px; padding-right: -10px; width: 60px;} 
    #pg4txt{font-size: 8px;}      
}
